/* src/components/Loader.css */
.loader-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* Ensures the loader stays on top of other elements */
  }
  
  .loader-image {
    width: 100%; /* Adjust the size as needed */
    height: 100%;
  }
  